/****************
    Variables 
****************/
:root {
    /* Primary Colors */
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);

    /* Section Color */
    --section-color: var(--nutmeg);

    /* Sizes */
    --footer-buffer: 50px;
    --main-width: 375px;
}

body {
    min-height: calc(100svh - var(--footer-buffer));
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--eggshell);

    /* Margin needed to reserve room for the footer */
    margin-bottom: var(--footer-buffer);

    /* Main font and color */
    font-family: "Outfit", sans-serif;
    color: var(--wenge-brown);
}

/*****************
    Typography 
*****************/
h1 {
    font-family: "Young Serif", serif;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1;
    color: var(--dark-charcoal);
}

h2 {
    font-family: "Young Serif", serif;
    font-size: 1.75rem;
    font-weight: 400;
    color: var(--section-color);
    line-height: 1;
}

aside {
    --section-color: var(--dark-raspberry);
}

aside h2 {
    font-family: "Outfit", sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}

tr td:last-child {
    color: var(--nutmeg);
    font-weight: 700;
}

/********************
    Mobile Layout 
********************/

main {
    padding: 40px 32px;
    width: var(--main-width);

    background-color: var(--white);

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero-wrapper {
    margin: -40px -32px 40px -32px;
}

h1 {
    margin-bottom: 24px;
}

/* Lists */
ul,
ol {
    padding-left: 21.5px;
}

ul li,
ol li {
    padding-left: 18.5px;
}

ul li:not(:last-child),
ol li:not(:last-child) {
    margin-bottom: 8px;
}

ul li > span {
    display: inline-block;
    vertical-align: middle;
}

::marker {
    color: var(--section-color);
}

ol li::marker {
    font-variant-numeric: normal;
}

/* Aside */
aside {
    background-color: var(--rose-white);
    padding: 24px;
    border-radius: 12px;
}

aside h2 {
    margin-bottom: 16px;
}

/* Section */
h2 {
    margin-bottom: 24px;
}

/* Line */
.line {
    width: 100%;
    height: 1px;
    background-color: var(--light-grey);
}

/* Table */
table {
    margin-top: 12px;
    width: 100%;

    border-collapse: collapse;
}

tr:not(:last-child) th,
tr:not(:last-child) td {
    padding-top: 11px;
    padding-bottom: 11px;
}

tr:last-child th,
tr:last-child td {
    padding-top: 11px;
}

tr:first-child th,
tr:first-child td {
    padding-top: 12px;
}

tr + tr {
    border-top: 1px solid var(--light-grey);
}

th {
    text-align: left;
    font-weight: 400;

    padding-left: 32px;
    width: 147.5px;
}

td {
    padding-left: 16px;
}

/* Footer */
footer.attribution {
    position: absolute;
    bottom: calc(-1em - var(--footer-buffer) / 2);

    font-size: 11px;
    color: var(--wenge-brown);
    text-align: center;
}

footer.attribution a {
    color: inherit;
    opacity: 0.9;
    text-decoration: none;
}

/*********************
    Desktop Layout
*********************/

/* Variables */
@media (min-width: 800px) {
    :root {
        --main-width: 736px;
        --footer-buffer: 123px;
    }

    body {
        margin-block: var(--footer-buffer);
    }

    main {
        padding: 40px;
        border-radius: 24px;
    }

    .hero-wrapper {
        margin: 0 0 40px 0;
        border-radius: 12px;
        overflow: hidden;
    }

    aside {
        padding: 28px;
    }

    aside > ul > li:first-child {
        /* This is necessary to take into account the space created by the span */
        margin-bottom: 6px;
    }
}

/* Hover effects */
@media (hover: hover) and (pointer: fine) {
    footer.attribution a:hover {
        text-decoration: underline;
    }
}
